<div class="container">
    <div class="row">
        <div class="col-xs-12">
                <h1>I m the app component</h1>
                <hr>
                <!-- <div vidhya-servers></div> -->
                <!-- <div class="vidhya-servers"></div> -->
                <vidhya-basic-highlight></vidhya-basic-highlight>
                <!-- <vidhya-servers></vidhya-servers> -->
                <div appBasicHighlight >Hi this is with custom directive</div>
                <div [appBetterHighlight]="'black'"  highlightColor="green" [defaultColor]="'red'">Hi this is with custom directive</div>
                <div *vidhyaUnless="false">Hi this is reversable for if condition</div>

                <div [ngSwitch]="value" >
                    ngSwitch should use for multiple if cases
                  <div *ngSwitchCase="10">this is 10</div>
                  <div *ngSwitchCase="20">this is 20</div>
                  <div *ngSwitchCase="30">this is 30</div>
                  <div *ngSwitchCase="30">this is 40</div>

                </div>

        </div>
    </div>
</div>
