<div class="container">
    <div class="row">
        <div class="col-xs-12">
                <h1>I m the app component</h1>
                <hr>
                <!-- <div vidhya-servers></div> -->
                <!-- <div class="vidhya-servers"></div> -->
                <vidhya-basic-highlight></vidhya-basic-highlight>
                <!-- <vidhya-servers></vidhya-servers> -->
                <div appBasicHighlight>Hi this is with custom directive</div>
                <div appBetterHighlight>Hi this is with custom directive</div>

        </div>
    </div>
</div>
